@model HeartSpaceAdmin.Models.PostViewModel
<br />
<h1>@Model.Title</h1>
<p><strong>作者:</strong> @Model.AuthorName</p>
<p><strong>發布時間:</strong> @Model.PublishTime</p>
<div>

    <strong>
        內容:
    </strong>
    <p>@Model.PostContent</p>
</div>
<div class="form-group">
    <strong>
        貼文圖片:
    </strong>
    @if (!string.IsNullOrEmpty(Model.PostImg))
    {
        <img src="@Model.PostImg" alt="揪團圖片" style="max-width: 200px; max-height: 200px;" />
    }
    else
    {
        <p>(目前沒有上傳圖片)</p>
    }
</div>


<br />

<h3>留言板</h3>
<table class="table">
    <thead>
        <tr>
            <th>留言者</th>
            <th>內容</th>
            <th>留言時間</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>@comment.UserName</td>
                <td>@comment.Comment</td>
                <td>@comment.CommentTime</td>
                <td>
                    <form asp-action="ToggleCommentDisabled" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@comment.Id" />
                        <button type="submit" class="btn @(comment.Disabled == true ? "btn-success" : "btn-danger")">
                            @(comment.Disabled == true ? "恢復" : "禁用")
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-controller="Post" asp-action="Index" class="btn btn-secondary btnstyle">返回</a>

<a href="https://localhost:44344/Post/PostDetails/@Model.Id" class="btn btn-success btnstyle" target="_blank">檢視前台</a>