@model HeartSpaceAdmin.Models.MemberViewModel

<h1>新增會員</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Account">帳號 <span class="text-danger">*</span></label>
        <input asp-for="Account" class="form-control" />
        @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Name">姓名 <span class="text-danger">*</span></label>
        <input asp-for="Name" class="form-control" />
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="NickName">暱稱 <span class="text-danger">*</span></label>
        <input asp-for="NickName" class="form-control" />
        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Email">電子郵件 <span class="text-danger">*</span></label>
        <input asp-for="Email" class="form-control" />
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="PasswordHash">密碼 (雜湊) <span class="text-danger">*</span></label>
        <input asp-for="PasswordHash" class="form-control" />
        @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="ConfirmCode">確認碼</label>
        <input asp-for="ConfirmCode" class="form-control" />
        @Html.ValidationMessageFor(model => model.ConfirmCode, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="IsConfirmed">帳號是否已開通</label>
        <input type="checkbox" class="form-check-input" id="IsConfirmed" name="IsConfirmed"
               value="true" @(Model.IsConfirmed == true ? "checked" : "") />
        @Html.ValidationMessageFor(model => model.IsConfirmed, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="Disabled">是否停權 </label>
        <input asp-for="Disabled" class="form-check-input" type="checkbox" />
        @Html.ValidationMessageFor(model => model.Disabled, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Role">角色 <span class="text-danger">*</span></label>
        <input asp-for="Role" class="form-control" />
        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
               <label for="MemberImgFile">會員圖片</label>
        <input type="file" name="MemberImgFile" class="form-control" />
        @Html.ValidationMessageFor(model => model.MemberImgFile, "", new { @class = "text-danger" })
    </div>

    </div>
    <div class="form-group">
        <label for="AbsenceCount">缺席次數</label>
        <input asp-for="AbsenceCount" class="form-control" type="number" />
        @Html.ValidationMessageFor(model => model.AbsenceCount, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary btnstyle">新增</button>
    <a asp-controller="Member" asp-action="Index" class="btn btn-secondary btnstyle">返回</a>
</form>
